.projectListParent{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.projectsList{
    margin: auto;
    max-width: 1600px;
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
}

