/* outside modal pictures */
.description{
    /* text-align: center; */
    padding-top: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.textUnder{
    text-align: center;

color: #3785C5;
text-align: center;
font-weight: bold;
}
.modalH{ 
    display: flex;
    flex-direction: column;
    margin: auto;  /* Magic! */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.Perproject{

}
.modal{
    position: absolute;
    top: 110px;
    left: 100px;
    right: 100px;
    bottom: 20px;
    border: 3px solid #3785C5;
    background: #1D1D1D;
    /* background: #0b0c10; */
    overflow:hidden;

    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: flex;
    flex-direction:column;
}
.modalButtons{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.iconM{
    transition: 0.3s ease;
    color: #3785C5;
    /* border-radius: 50px; */
    padding-left: 10px;
}
.iconN{
    transition: 0.3s ease;
    color: #304252;
    /* border-radius: 50px; */
    padding-left: 10px;
}
.iconM:hover {

    color: #3175ad;
        cursor: pointer;
}

.iconN:hover{
    cursor:unset;
}
.iconX{
    transition: 0.3s ease;
    color: #3785C5;
    /* border-radius: 50px; */
    padding-left: 10px;
    text-align: center;
}
.iconX:hover{
    cursor: pointer;
    color: #3175ad;

}
.iconSM{

    font-size: 3rem;

}



.topT{
    color: #3785C5;;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;

}
.topT2{
    color: #3785C5;;
    font-size: 1.2rem;
    text-align: center;
}





.projectImg{
    text-align: center;

    /* text-align: center; */
    width: 500px;
    /* min-width: 200px; */
    height: auto;
    cursor: pointer;
    opacity: 90%;
    border-radius: 2px;
    border-style: ridge;
        border-color: #3785C5;
}
.projectImg:hover{
    opacity: 100%;
}

.imgs{
    height: auto;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    /* text-align: center; */
}

.imagesHolder{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    
}

.sideB{
    /* background-color: #3785C5; 
    border: none;
    color: white;
    padding: 30px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px; 
    opacity: 0.7;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #3785C5; 
    border: 1px solid white;

  
}
.sideB:hover{

    opacity: 1;

}

.theModal {



}

@media (max-width: 800px){
    .description{
        padding-top: 10px;

    width: 100%;
    }
    .sideB{

        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px; 
        opacity: 0.7;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #3785C5; 
        border: 1px solid white;
    
      
    }

    .projectImg{

        width: 300px;

    }

    .modal{
        position: absolute;
        top: 90px;
        left: 15px;
        right: 15px;
        bottom: 20px;
    }


    .modalH{ 

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .imgs{
        height: auto;
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;

        /* text-align: center; */
    }

}



@media (max-width: 400px){
   
    .projectImg{

        width: 200px;

    }

    .modal{
        position: absolute;
        top: 90px;
        left: 1px;
        right: 1px;
        bottom: 20px;
    }


    .modalH{ 

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .imgs{
        height: auto;
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;

        /* text-align: center; */
    }

}



@media (max-height: 800px){
    .modal{
        position: absolute;
        top: 110px;
        left: 100px;
        right: 100px;
        bottom: 1px;
        border: 3px solid #3785C5;
        background: #1D1D1D;
        overflow:hidden;
    
        border-radius: 4px;
        outline: none;
        padding: 20px;
        display: flex;
        flex-direction:column;
    }
    .description{
        padding-top: 10px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
