
.textUnder{ 
    text-align: center;
    color: #3785C5;
    text-align: center;
    font-weight: bold;
}

.projectImg{    
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    width: 300px;
    height: auto;
    cursor: pointer;
    border-color: #3785C5;
    transition: filter 0.25s ease-in;

}
.modalH:hover .projectImg{
    filter: brightness(50%) blur(3.5px);
}

.modalTitle{
    user-select: none;
    font-size: 1.2rem;
    color: #f2f3f4;
    font-weight: bold;
    position:absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: translateY(10);
    text-transform:capitalize;
}
.modalH:hover .modalTitle{
    opacity: 1;
    transform: translateY(0);
}

.technologiesList{
    
    position: absolute;
    padding: 20px;
    top: 20%;
    /* transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    /* opacity: 0; */
    
}
.technologies{
    padding: 6px;
    font-size: 1.3rem;
    text-align: center;
    border: solid 1.5px lightgray;
    border-radius: 5px;
    background-color: white;
    pointer-events: none;
    opacity: 0;
    /* font-weight: bold; */
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform .3s ease;
}

.modalH:hover .technologiesList .technologies{
    opacity: 1;
    transform: translateY(0);
}

.modalH:hover .technologiesList .technologies:nth-child(1) {

    transition-delay: 110ms;
}
.modalH:hover .technologiesList .technologies:nth-child(2) {

    transition-delay: 220ms;
}
.modalH:hover .technologiesList .technologies:nth-child(3) {

    transition-delay: 330ms;
}
.modalH:hover .technologiesList .technologies:nth-child(4) {

    transition-delay: 440ms;
}
.modalH:hover .technologiesList .technologies:nth-child(5) {

    transition-delay: 550ms;
}
.modalH:hover .technologiesList .technologies:nth-child(6) {

    transition-delay: 660ms;
}
.modalH:hover .technologiesList .technologies:nth-child(7) {

    transition-delay: 770ms;
}
.modalH:hover .technologiesList .technologies:nth-child(8) {

    transition-delay: 880ms;
}
.modalH:hover .technologiesList .technologies:nth-child(9) {

    transition-delay: 990ms;
}
.modalH:hover .technologiesList .technologies:nth-child(10) {

    transition-delay: 1100ms;
}
.modalH{
    position: relative;
    text-align: center;
    cursor: pointer;
}



/* .listOfProjects{
    display: flex !important; 
} */
.modal{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row;
    background: #1D1D1D;
    width: 1200px;
    height: 700px;
    border: 2px solid #3785C5;
    border-radius: 20px;
}



.imgs{
    object-fit: cover;
    /* width: 500px;
    height: 700px; */
    width: 90%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.imagesHolder{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 20px;

    
}
.otherSide{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


.modalButtons{
    
}
.closeHolder{
    margin-left: 630px;

}
.closeButton{
    cursor: pointer;
    transition: 0.3s ease;
    color: #3785C5;
    padding-left: 10px;
    text-align: center;
    font-size: 1.9rem;
}
.closeButton:hover{
    color: #3175ad;

}
.iconA{
    cursor: pointer;
    transition: 0.3s ease;
    color: #3785C5;
    padding-right: 10px;
    font-size: 3rem;
}

.iconNA{
    cursor: pointer;
    transition: 0.3s ease;
    color: #304252;
    padding-right: 10px;
    font-size: 3rem;
}
.modalAbout{
    font-size: 3rem;
    color: #3785C5;
    width: 100%;
}
.modalDesc{
    padding-top: 30px;
    margin-right: 20px;
    font-size: 1.4rem;
    color: white;
    width: 70%;
}

.technologiesBoxes{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.techBox{
    margin-top: 20px;
    margin-right: 20px ;
    padding: 10px;
    font-weight: bold;
    color: #1D1D1D;
    /* background-color:pink; */
    background-color:#3785C5;
    transition: 1s;
    border-radius: 3px;
    cursor: pointer;
}

.techBox:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
 }



 @media (max-width: 800px){
    .modal{
        flex-direction:column;
        width: 90%;
        height: 80%;
    }
    .imagesHolder:nth-child(1){
        display: none;
    }
    /* .imagesHolder:nth-child(1){
        display: none;
    } */
    .modalAbout{
        font-size: 1.5rem;
        color: #3785C5;
        width: 100%;
    }
    .otherSide{

        padding-left: 40px;
    }
    .modalDesc{
        padding-top: 30px;
        margin-right: 20px;
        font-size: 0.8rem;
        color: white;
        width: 70%;
    }
    .closeHolder{
        display: none;
    }


    .techBox{
        margin-top: 20px;
        margin-right: 20px ;
        padding: 5px;
        font-weight: bold;
        color: #1D1D1D;
        /* background-color:pink; */
        background-color:#3785C5;
        transition: 1s;
        border-radius: 3px;
        cursor: pointer;
    }
 }
